#nav{
   padding: 50px 100px;
   width: 100%;
   box-sizing: border-box; 
}
#navlogo,#navbar{
    display: inline-block;
    margin: -2px;
}
#nav.logo{
    width: 20%;
}
#navbar{
    width: 80%;
    text-align: right;
}
#navlist{
    display: inline-block;
    width: 500px;
}
#navitem{
    display: inline-block;
    margin-left: 30px;  
}